---
layout: page
title: "Ever Play"
description: "It's All About Hi-Res."
header-img: "img/home-bg-o.jpg"
---
<p style="text-align: center;">
<img src="../img/new_icon_1024.png" alt="Ever Play Logo" style="width:500px; height:500px;">
</p>
<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected>English</option>
    <option value="1"> 中 文 </option>
</select>
<!-- English Version -->
<div class="en post-container">

    <p>Ever Play is a pure Hi-Res music player for iOS platform. As an audiophile，I want to play Hi-Res Audio on my iPhone, but search around iTunes Store over and over again, it's hardly to find out a music player app that satisfy me very well. So we decide to develop one, with the perspective of an audiophile. Ever Play is compatible with latest iOS version, it supports all popular formats including Hi-Res ones. Ever Play is easy to use and almost full-functionality.</p>

<p>One of the most important feature of Ever Play is that it support DSD(up to 11.2MHz，aka. DSD256) playback, in term of PCM and DoP. When PCM mode is selected, DSD is converted to and output as PCM. When DoP mode is selected, DSD is outputted as DSD over PCM.(Connected device must be DoP-compatible to this mode, otherwise, DSD will be outputed as PCM even DoP mode is selected.)</p>

<p>Ever Play support up to 384kHz/32bit music file and Upsampling output Mode and you can select custom output sample rate for playback. It will automatically choose the max support format to playback, so you never need to worry about output device change.</p>

<p>You can custom you favorite playlist with Ever Play. Regards of music management and transfer, Ever Play support Wi-Fi transfer and iTunes files sharing. Throngh Wi-Fi Transfer, you just need type an ip address in you computer browser to transfer music files to the Ever Play app.</p>

<p>We redesign the player interface and interaction，not only contains the normal functions but also shows a lot of file and output information。 All for the user experience!</p>

<p>Ever Play will be upgraded all the time for the music never dies! Any questions about Fany, please contact us through the function of feedback without any hesitation!</p>

<h6>[Supported Formats]</h6> 
<blockquote>
<p>• FLAC(MQA), APE, WAV, ALAC(M4A), AIFF, AIF, MP3, WMA, OGG, AAC,</p>
<p>• DSF, DFF(DSD64 and DSD128 support both PCM and DoP output mode, DSD256 only support PCM mode because the limit of iDevice usb2.0 bandwidth)</p>
<p>• CUE(Sheet)</p>
</blockquote>

<h6>[Music Management and Easy Transfer] </h6> 
<blockquote>
<p>• WiFi Music Transfer (Http)</p>
<p>• iTunes Files Sharing</p>
<p>• Playlist Management</p>
</blockquote>

<h6>[Advanced Features]</h6> 
<blockquote>
<p>• Playback Hi-Res audio source up to 32bit/384kHz</p>
<p>• Playback DSD audio source up to 11.2MHz</p>
<p>• Searching songs</p>
<p>• Display song and connected device information</p>
<p>• Upsampling function</p>
<p>• Sleep timer</p>
<p>• Disable Auto-lock Screen</p>
<p>• Auto-download Album Image(On/OFF)</p>
<p>• Auto-download Artist Image(On/OFF)</p>
<p>• USB Audio Output</p>
<p>• DSD to PCM </p>
<p>• Dop(DSD over PCM)</p>
<p>• Custom Output Sample Rate </p>
<p>• iOS11 Support</p>
<p>• Redesign the Player Interface and Interaction</p>
</blockquote>


    <h7>Others</h7>

    <ul>
        <li><a href="https://www.appgreat.com/FancyPrivacyPolicy/">Privacy Policy</a></li>
        <li><a href="https://www.appgreat.com/FancyTermsOfUse/">Terms of Use</a></li>
		<li><a href="https://www.appgreat.com/PurchaseEng/">Purchase</a></li>
		<li><a href="https://www.appgreat.com/Manual/">Manual</a></li>
    </ul>
</div>

<!-- Chinese Version -->
<div class="zh post-container">

   <p>“Ever Play”是一款iOS平台下的Hi-Res音频播放器.作为一个音乐发烧友，一直想在Itunes Store中找到一款纯粹的音乐播放器，可是比较过很多都很难找到一款中意的音乐播放器，所以我们决定从发烧友的角度自己开发一个，于是有了“Ever Play”。“Ever Play”兼容最新的iOS版本，采用新的UI设计并且支持所有流行的音乐格式，包括DSD文件。同时，“Ever Play”简单易用并且功能全面。</p>

<p>“Ever Play”最重要的功能之一就是对DSD文件的支持，最高支持11.2MHz的DSD256文件。DSD文件支持两种模式播放，一种是将DSD文件转化为PCM文件播放，另一种则是通过DoP的方式输出给支持DoP的外置DAC(需要连接相机套件)。</p>

<p>“Ever Play”支持最高 384kHz/32bit 格式的音频文件，并且提供了升频模式，你可以将任意格式的音频升频为最高 384kHz/32bit 格式的PCM输出(需要外接设备支持，iPhone 本身最高只支持48kHz/32bit输出)。当然，“Ever Play”也能够根据外接音频设备自动选择合适的输出格式。</p>

<p>"Ever Play"支持自定义播放列表。至于音乐管理和传输，“Ever Play”支持两种传歌方式，分别为 局域网内Wi-Fi传输和iTunes传输。通过Wi-Fi传输方式，你只需在局域网电脑的浏览器中输入相应的ip地址就能将电脑中的歌曲传输到“Ever Play”app中，方便快捷。</p>

<p>“Ever Play”重新设计了精美并且信息完整的播放界面，除了一般的播放控制功能，您还能非常方便的获取到音频文件的格式信息和输出信息，一切都为了更好的交互。</p>

<p>“Ever Play”app将一直保持更新，因为音乐不死！有任何问题请通过app的Feedback功能给我们反馈。</p>

<h6>[支持格式]</h6> 
<blockquote>
<p>• FLAC(MQA), APE, WAV, ALAC(M4A), AIFF, AIF, MP3, WMA, OGG, AAC,</p>
<p>• DSF, DFF(DSD64 和 DSD128 既支持转化为PCM播放也支持DoP模式输出, DSD256 因为iPhone USB2.0的带宽限制只支持转化为PCM播放)</p>
<p>• CUE(Sheet)</p>
</blockquote>

<h6>[文件管理和传输]</h6> 
<blockquote>
<p>• WiFi 传输(Http)</p>
<p>• iTunes 文件共享</p>
<p>• 播放列表管理</p>
</blockquote>

<h6>[高级功能]</h6>
<blockquote>
<p>• 最高支持384kHz/32bit的Hi-Res高清音频文件</p>
<p>• 最高支持11.2MHz的DSD文件播放</p>
<p>• 歌曲搜索功能</p>
<p>• 全面显示歌曲信息和播放输出信息</p>
<p>• 升频功能</p>
<p>• 睡眠定时器</p>
<p>• 防止屏幕休眠功能</p>
<p>• 自动下载专辑图片</p>
<p>• 自动下载艺术家图片</p>
<p>• DSD转化为PCM播放</p>
<p>• Dop(DSD over PCM)输出</p>
<p>• 自定义采样率输出</p> 
<p>• iOS11 支持</p>
<p>• 重新设计的播放器界面和交互</p>
</blockquote>
    
    <h7>其他</h7>

    <ul>
        <li><a href="https://www.appgreat.com/FancyPrivacyPolicy/">Privacy Policy</a></li>
        <li><a href="https://www.appgreat.com/FancyTermsOfUse/">Terms of Use</a></li>
		<li><a href="https://www.appgreat.com/Purchase/">Purchase</a></li>
		<li><a href="https://www.appgreat.com/Manual/">用户手册</a></li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $en = document.querySelector(".en");
    var $zh = document.querySelector(".zh");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#zh"){
            $select.selectedIndex = 1;
            $zh.style.display = "block";
            $en.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#en"
        }else{
            window.location.hash = "#zh"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

